/* google font */
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');

/* color variables */
:root {
  --primaryColor: rgb(61,79,97);
  --primaryGrey: rgba(61,79,97, 0.8);
  --primaryLight: rgba(61,79,97, 0.4);

  --primaryBtn: rgb(93,168,221);
  --primaryBtnDark: rgb(30, 112, 172);
  --secondaryBtn: rgb(122,141,155);
  --secondaryBtnDark: rgb(61,79,97);

  --mainWhite: rgb(255,255,255);
  --mainGrey: rgb(231,233,236);
  --mainBlack: rgb(50,50,50);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--mainBlack);
  color: var(--primaryColor);
  font-family: 'Tinos', serif;
}

/* remove Arrows/Spinners from the input number fields */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.App {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--mainGrey);
}

@media screen and (min-width: 769px){
  .App {
    flex-direction: row;
  }
}
